<div class="row">
<div class="col-sm-12">
<a id="createCustomProviderInfoBtn" class="btn btn-success" href="#">{{ 'cogimix.custom_provider.add'|trans }}</a>
</div>
<div class="col-sm-3 customProviderListContainer">
<ul id="customProviderInfoList" class="well">
{% for customProviderInfo in customProviderInfos %}
{% include 'CogimixCustomProviderBundle:CustomProviderInfo:listItem.html.twig' %}
{% endfor %}
</ul>
</div>

<div id="customProviderInfoForm" class="col-sm-9">

</div>
</div>