<div class="row">
<div class="span6">
<a id="createCustomProviderInfoBtn" class="btn btn-success" href="#">Add</a>
</div>
<div class="span2 customProviderListContainer">
{% include 'CogimixCustomProviderBundle:CustomProviderInfo:list.html.twig' %}
</div>
<div id="customProviderInfoForm" class="span4">

</div>
</div>